* {
    box-sizing: border-box;
}

body {
    background-color: #efedd6;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

